  .qdropdownselect .active{
    background:blue;
  }
  .qdropdownselect{
    background:#ffffff;
    border: 1px solid #ccc;
    line-height:20px;
    height:300px;
    overflow:scroll;
  }
  .qdropdownselect .qitem:hover{
   background:#999999;
  }